<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <p>
    <b> attachment </b><br/>
    <%= f.file_field :attach %>
  </p>
   <p>
      <b> Picture </b><br/>
      <%= f.file_field :pic %>
   </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
