<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<a href="<%= @user.attach.url %> "> <b> File attached </b></a>
<br/>

<%= image_tag @user.pic.url %>
<br/>

<%= image_tag @user.pic.url(:medium) %>
<br/>

<%= image_tag @user.pic.url(:thumb) %>
<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
